@font-face {
    font-family: 'title';
    src: url('../assets/title.ttf');
}
@font-face {
    font-family: 'menu';
    src: url('../assets/menu.ttf');
}
* { border : 0;
    margin: 0;
    padding: 0;

}
body {
    overflow: hidden;
    background-color: #0c1023;
}
#mainContainer {
    overflow: hidden;
}
.background {
    position:absolute;
    left: 0px;
    top: -220px;
}
.background2 {
    position:absolute;
    left: 928;
    top: -220px;
}
.background3{
    position: absolute;
    left: 1856;
    top: -220px;
}
#title {
    position: absolute;
    z-index: 11;
    font-size: 80pt;
    font-family: 'title';
    text-shadow: 0px 0px 20px white;
    padding-top:70px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
#start {
    position: absolute;
    z-index: 11;
    font-size: 30pt;
    font-family: 'menu';
    text-shadow: 0px 0px 10px white;
    padding-top:550px;
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
}
.plane10 {
    z-index: 0;
}
.plane9 {
    z-index: 1;
}
.plane8 {
    z-index: 2;
}
.plane7 {
    z-index: 3;
}
.plane6 {
    z-index: 4;
}
.plane5 {
    z-index: 5;
}
.plane4 {
    z-index: 6;
}
.plane3 {
    z-index: 7;
}
.plane2 {
    z-index: 8;
}
.plane1 {
    z-index: 9;
}
.plane0 {
    z-index: 10;
}