@font-face {
    font-family: 'title';
    src: url('../assets/title.ttf');
}
@font-face {
    font-family: 'menu';
    src: url('../assets/menu.ttf');
}
* { border : 0;
    margin: 0;
    padding: 0;

}
body {
    overflow: hidden;
    background-color: #0c1023;
}
#mainContainer {
    overflow: hidden;
}
.background0 {
    position:absolute;
    left: 0px;
    top: -220px;
}
.background1 {
    position:absolute;
    left: 928;
    top: -220px;
}
.background2{
    position: absolute;
    left: 1856;
    top: -220px;
}
#title {
    position: absolute;
    z-index: 11;
    font-size: 80pt;
    font-family: 'menu';
    text-shadow: 0px 0px 20px white;
    padding-top:70px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    transition: 3s;
}
h1 { position: absolute;
    font-family: 'menu';
    text-shadow: 0px 0px 20px white;
    top: 10px;
    left: 20px;
    font-size: 26pt;
}
#morale {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
    position: absolute;
    border: solid 2px white;
    box-shadow: 0px 0px 10px grey;
}
#health {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    border: solid 2px white;
    box-shadow: 0px 0px 10px grey;
}
#start {
    position: absolute;
    z-index: 11;
    font-size: 30pt;
    font-family: 'menu';
    text-shadow: 0px 0px 10px white;
    padding-top:550px;
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    transition: 3s;
}
#charContainer {
    position: absolute;
    z-index: 9;
    overflow: hidden;
    height: 126px;
    width: 126px;
    top: 400px;
    transition: 1s;
}
#enemy {
    position: absolute;
    height: 160px;
    width: 1920px;
}
#enemyCont{
    position: absolute;
    z-index: 9;
    overflow: hidden;
    height: 160px;
    width: 160px;
    top: 360px;
    transition: 1s;
    display: none;
}
#enemyHealth {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    top: 550px;
    left: 420px;
    position: absolute;
    border: solid 2px white;
    box-shadow: 0px 0px 10px grey;
}
#enemyHealthFull{
    flex: 600;
    background-color: red;
    border-radius: 5px 5px 5px 5px;
}
#enemyHealthGone{
    flex:0;
    background-color: #0c1023;
    border-radius: 5px 5px 5px 5px;

}

#UIcont{
    position:absolute;
    width: 80vw;
    height: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
    margin-top: 75vh;
    z-index: 100;
    overflow: hidden;
    border: solid 3px white;
    box-shadow: 0px 0px 9px grey;
    border-radius: 10px;
}
#healthFull{
    flex: 300;
    background-color: red;
    border-radius: 5px 5px 5px 5px;
}
#healthGone{
    flex:0;
    background-color: #0c1023;
    border-radius: 5px 5px 5px 5px;
}
#moraleFull{
    flex: 300;
    background-color: dodgerblue;
    border-radius: 5px 5px 5px 5px;
}
#moraleGone{
    flex: 0;
    background-color: #0c1023;
    border-radius: 5px 5px 5px 5px;
}
#mobile {
    position: absolute;
    z-index: 9;
    overflow: hidden;
}
#character  {
    position: absolute;
    height: 126px;
    width: 1008px;
}
#endMsg{
    position: absolute;
    z-index: 110;
    font-size: 80pt;
    font-family: 'menu';
    text-shadow: 0px 0px 20px white;
    padding-top:70px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.hidden {
    display: none;
}
.plane0 {
    z-index: 0;
}
.plane1 {
    z-index: 1;
}
.plane2 {
    z-index: 2;
}
.plane3 {
    z-index: 3;
}
.plane4 {
    z-index: 4;
}
.plane5 {
    z-index: 5;
}
.plane6 {
    z-index: 6;
}
.plane7 {
    z-index: 7;
}
.plane8 {
    z-index: 8;
}
.plane9 {
    z-index: 9;
}
.plane10 {
    z-index: 10;
}